function Board.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
not
pop this 6
push constant 16
call Array.new 1
pop this 3
push pointer 0
call Board.clearBoard 1
pop temp 0
push pointer 0
return
function Board.updateBoard 0
push argument 0
pop pointer 0
push constant 0
return
function Board.clearBoard 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 3
call Array.dispose 1
pop temp 0
push constant 16
call Array.new 1
pop this 3
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.printBoard 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push local 1
push constant 4
call Math.multiply 2
add
push this 3
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
call Output.println 0
pop temp 0
push local 1
push constant 1
add
pop local 1
push constant 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.doPrint 0
push argument 0
pop pointer 0
push this 6
return
function Board.getScore 0
push argument 0
pop pointer 0
push this 4
return
function Board.isGameOver 0
push argument 0
pop pointer 0
push this 5
return
